{% extends './base.html.twig' %}

{% block body %}
    <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-3">
                <img class="card-img-top mb-5 mb-md-0"
                     src="{{ vich_uploader_asset(model) }}"
                     alt="{{ model.image.name }}" />
            </div>
            <div class="col-md-4">
                <div class="small mb-1">SKU: {{ model.SKU }}</div>
                <h1 class="display-7 fw-bolder">{{ model.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>$40.00</span>
                </div>
                <p class="lead">{{ model.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                </div>
            </div>
        </div>

        {{ form(form) }}
    </div>
{% endblock %}